*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(219, 106, 106);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container img{
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

form > input{
    border-radius: 5px;
    font-size: 2rem;
}

form > input:hover{
    background-color:aliceblue;
}

form > label{
    font-size: 1.5rem;
}

form > input[type="submit"]{
    width: 300px;
    margin: 20px auto;
    box-shadow: gray 3px 3px 6px;
}


